.contacts
    a.contact(href="tel:+3809999999999")
        i.fas.fa-mobile-alt.contact__icon(aria-hidden="true")
        span.contact__text 9999 9999
    a.contact(href="mailto:info@business.co")
        i.fas.fa-envelope.contact__icon--email(aria-hidden="true")
        span.contact__text info@business.co
    a.facebook-icon(href="facebook.com")
        i.fab.fa-facebook(aria-hidden="true")