section.form-section
    .container
        .title
            h2.title.title__header Get Your Info Free Now
            .title__text Enter your details below
        
        .btn-down: a.arrow-down: i.fa.fa-angle-down(title="Click here")
        
        .form-container.is-hidden
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text.
                    Sit down with our expert to receive a free customized marketing
                    for your business + Learn How To Use Google

                .form__fields
                    input.form__input(type="text" placeholder="Your name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")

                button(type="submit").button.button--text-uppercase.button--red Submit now
