.nav {
    display: inline-block;
    padding-top: 7px;
    vertical-align: top;
    margin-right: 15px;
    @media (max-width: 1000px) {
        margin-bottom: 25px;
    }
    &__link {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        text-decoration: none;
        font-family: $ff-main-bold;
        text-transform: capitalize;
        color: #424242;
        transition: 0.3s;
        &:hover,
        &:active {
            color: #de2b24;
        }
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 5px;
            margin-left: 15px;
            border-radius: 50%;
            background: #424242;
        }
        &:last-child:after {
            display: none;
        }
        @media (max-width: 600px) {
            display: block;
            text-align: center;
            &:after {
                display: none;
            }
        }
    }
}