/*
  Центрирование элементов
*/

@mixin centerer-xy() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerer-x() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerer-y() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*
    Правильный способ скрывать любые элементы вместо display:none;
  */

@mixin invisible() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*
    Clearfix
*/

@mixin clearfix() {
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}

@mixin clearfix-before() {
    &:before {
        display: table;
        clear: both;
        content: '';
    }
}

@mixin header() {
    color: #4f5255;
}